<style>
    td input {
        text-align: center;
    }
</style>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <table>
                    {% for field in dnk_form %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <tr>
                        <td><label for="{{ field.id }}" style="text-transform: uppercase;">{{ field.label_tag }}</label>
                        </td>
                        <td><input type="text" id="{{ field.id }}" name="{{ field.name }}"/></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    {% for field in dnk_form %}
                    {% if forloop.counter|divisibleby:2 %}
                    <tr>
                        <td><label for="{{ field.id }}" style="text-transform: uppercase;">{{ field.label_tag }}</label>
                        </td>
                        <td><input type="text" id="{{ field.id }}" name="{{ field.name }}"/></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    <button name="dnk_form_submit" type="submit">Push text</button>
</form>
