<style>
    /* Set the background color of the table and cells to white */
    table {
        background-color: white;
    }

    table, th, td {
        border: none; /* Remove borders */
        padding: 10px; /* Add padding for better spacing */
    }

    /* Define a class to center-align the text */
    .center-aligned-input {
        text-align: center;
    }

    /* Apply the center-aligned class to the input fields */
    .center-aligned-input input[type="text"],
    .center-aligned-input input[type="password"],
    .center-aligned-input textarea {
        text-align: center;
        width: 90%;
    }
</style>



</style>


<form action="." method="post" enctype="multipart/form-data"
      hx-post="{{ request.path }}"
      hx-encoding="multipart/form-data">

    {% csrf_token %}
    <table>
        {% for field in dnk_form %}
            {% cycle '<tr>' '' %}
                <th style="background-color: white;">{{ field.label_tag }}</th>
                <td class="center-aligned-input" style="background-color: white;">
                    {{ field }}
                </td>
            {% cycle '' '</tr>' %}
        {% endfor %}
    </table>

    <button name="dnk_form_submit" type="submit">Push text</button>
</form>




